.formulario__conta {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.conta__texto {
  font-weight: 700;
  margin-right: 0.2rem;
}

.conta__input {
  width: 90%;
  height: 1rem;
  border: solid 1px var(--preto);
  text-align: center;
  margin-right: 0.2rem;
}

.jogador__container {
  grid-column: span 4;
  grid-row: 1;
}

.personagem__container {
  grid-column: span 2;
  grid-row: 2;
}

.classe__container {
  grid-column: span 2;
  grid-row: 2;
}

.raca__container {
  grid-column: span 2;
  grid-row: 3;
}

.genero__container {
  grid-column: span 2;
  grid-row: 3;
}

.idade__container {
  grid-column: 1;
  grid-row: 4;
}

.altura__container {
  grid-column: span 2;
  grid-row: 4;
  padding: 0 2rem;
  justify-self: center;
}

.peso__container {
  grid-column: 4;
  grid-row: 4;
}

.botao {
  grid-column: span 4;
  grid-row: 5;
  width: 7rem;
  justify-self: center;
  border: solid 2px var(--preto);
  border-radius: 5px;
  padding: 0 0.5rem;
  margin: 0.5rem;
}

.botao:active {
  color: var(--branco);
  border: solid 2px var(--branco);
}