.ficha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ficha__banner {
    position: relative;
    margin-bottom: 4rem;
}

.ficha__banner-titulo {
    font-size: 1rem;
    margin-top: 1.7rem;
}

.ficha__banner-imagem {
    width: 20rem;
    height: 7rem;
    position: absolute;
    top: 0px;
    left: -82px;
 }

 .ficha__imformacoes {

 }