.ficha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ficha__banner {
    position: relative;
    margin-bottom: 2.5rem;
}

.ficha__banner-titulo {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.ficha__banner-imagem {
    width: 25rem;
    height: 20rem;
    position: absolute;
    top: -130px;
    left: -120px;
 }

 .jogador__container {
    display: flex;
    font-size: 14px;
 }

 .jogador__texto {
    font-weight: 700;
 }

 .jogador__texto-resposta {
    text-decoration: underline;
    padding-bottom: 0.7rem;
    margin-right: 0.5rem;
 }