@import url(ficha.css);

:root {
    --preto: #000000;
    --branco: #FFFFFF;
    --font-principal:'Kanit';
}

body {
    box-sizing: border-box;
    background: url(../img/Background.png);
    background-size: 100vw;
    font-family: var(--font-principal);
    border: solid 5px var(--preto);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
<<<<<<< HEAD
    margin: 0.3rem;
}
=======
    margin: 0.5rem;
}
>>>>>>> ac8c4250328f27736ad71eddc4d4ca610ff4edb7
